@font-face {
    font-family: poppins;
    src: url(fonts/Poppins-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family:poppins, sans-serif;
}

ul {
    list-style: none;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* -------------------- Header ---------------------- */
header :is(ul, ol) a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

header{
    display: flex;
    justify-content: end;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

header ul {
    min-width: min(100%, 600px);
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:600px) {
    .container {
        width: 90%;
    }
    header :is(ul, ol) li  a {
        font-size: 1rem !important;
    }
}
